In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/House Price India.csv')

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
df['Price'].unique()

array([2380000, 1400000, 1200000, ...,  221700,  219200,  146000])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
df['Price'] = le.fit_transform(df['Price'])

In [ ]:
df['Price'].unique()

array([2849, 2768, 2748, ...,  284,  277,   60])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
x = df.drop('Built Year',axis=1)
x.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,280,0,122003,52.8645,-114.557,2880,5400,2,58,2849
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1010,0,122004,52.8878,-114.470,2470,4000,2,51,2768
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,0,0,122004,52.8852,-114.468,2940,6600,1,53,2748
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,0,0,122005,52.9532,-114.321,3350,42847,3,76,2487
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,830,0,122006,52.9047,-114.485,2060,4500,1,51,2420

In [ ]:
y = df['Built Year']
y

0        1921
1        1909
2        1939
3        2001
4        1929
         ...
14615    1957
14616    1968
14617    1962
14618    1955
14619    1969
Name: Built Year, Length: 14620, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,test,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=12)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
reg = Sequential()
reg.add(Dense(4,activation='relu'))
reg.add(Dense(12,activation='relu'))
reg.add(Dense(32,activation='relu'))
reg.add(Dense(1,activation='linear'))

In [ ]:
reg.compile(optimizer='adam' ,loss='mse' ,metrics=['mse'])

In [ ]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(test,ytest))

Epoch 1/25
1170/1170 [==============================] - 4s 2ms/step - loss: 337436521529344.0000 - mse: 337436521529344.0000 - val_loss: 9307574.0000 - val_mse: 9307574.0000
Epoch 2/25
1170/1170 [==============================] - 4s 3ms/step - loss: 7902718.0000 - mse: 7902718.0000 - val_loss: 10976539.0000 - val_mse: 10976539.0000
Epoch 3/25
1170/1170 [==============================] - 3s 2ms/step - loss: 8930235.0000 - mse: 8930235.0000 - val_loss: 7371129.5000 - val_mse: 7371129.5000
Epoch 4/25
1170/1170 [==============================] - 2s 2ms/step - loss: 13313914.0000 - mse: 13313914.0000 - val_loss: 7062708.5000 - val_mse: 7062708.5000
Epoch 5/25
1170/1170 [==============================] - 3s 2ms/step - loss: 24203874.0000 - mse: 24203874.0000 - val_loss: 10199074.0000 - val_mse: 10199074.0000
Epoch 6/25
1170/1170 [==============================] - 3s 2ms/step - loss: 367579332608.0000 - mse: 367579332608.0000 - val_loss: 734218112.0000 - val_mse: 734218112.0000
Epoch 7/25
1170/1170 [==============================] - 4s 3ms/step - loss: 638656446464.0000 - mse: 638656446464.0000 - val_loss: 2176307712.0000 - val_mse: 2176307712.0000
Epoch 8/25
1170/1170 [==============================] - 3s 2ms/step - loss: 609278361600.0000 - mse: 609278361600.0000 - val_loss: 4495828480.0000 - val_mse: 4495828480.0000
Epoch 9/25
1170/1170 [==============================] - 3s 2ms/step - loss: 603354628096.0000 - mse: 603354693632.0000 - val_loss: 258176630784.0000 - val_mse: 258176630784.0000
Epoch 10/25
1170/1170 [==============================] - 3s 2ms/step - loss: 523096227840.0000 - mse: 523096227840.0000 - val_loss: 151816388608.0000 - val_mse: 151816388608.0000
Epoch 11/25
1170/1170 [==============================] - 3s 2ms/step - loss: 480349978624.0000 - mse: 480349978624.0000 - val_loss: 4700282368.0000 - val_mse: 4700282368.0000
Epoch 12/25
1170/1170 [==============================] - 4s 3ms/step - loss: 496862724096.0000 - mse: 496862724096.0000 - val_loss: 859986329600.0000 - val_mse: 859986329600.0000
Epoch 13/25
1170/1170 [==============================] - 3s 2ms/step - loss: 449022459904.0000 - mse: 449022459904.0000 - val_loss: 170906730496.0000 - val_mse: 170906730496.0000
Epoch 14/25
1170/1170 [==============================] - 3s 2ms/step - loss: 367449964544.0000 - mse: 367449964544.0000 - val_loss: 6107822592.0000 - val_mse: 6107822592.0000
Epoch 15/25
1170/1170 [==============================] - 2s 2ms/step - loss: 423242170368.0000 - mse: 423242170368.0000 - val_loss: 215615700992.0000 - val_mse: 215615700992.0000
Epoch 16/25
1170/1170 [==============================] - 3s 3ms/step - loss: 327808811008.0000 - mse: 327808811008.0000 - val_loss: 114739968.0000 - val_mse: 114739968.0000
Epoch 17/25
1170/1170 [==============================] - 4s 3ms/step - loss: 298033709056.0000 - mse: 298033709056.0000 - val_loss: 1626815463424.0000 - val_mse: 1626815463424.0000
Epoch 18/25
1170/1170 [==============================] - 2s 2ms/step - loss: 304229941248.0000 - mse: 304229941248.0000 - val_loss: 5639801856.0000 - val_mse: 5639801856.0000
Epoch 19/25
1170/1170 [==============================] - 2s 2ms/step - loss: 221308370944.0000 - mse: 221308370944.0000 - val_loss: 6182459392.0000 - val_mse: 6182459392.0000
Epoch 20/25
1170/1170 [==============================] - 3s 2ms/step - loss: 223891095552.0000 - mse: 223891095552.0000 - val_loss: 1236073472.0000 - val_mse: 1236073472.0000
Epoch 21/25
1170/1170 [==============================] - 4s 3ms/step - loss: 195588800512.0000 - mse: 195588800512.0000 - val_loss: 106845822976.0000 - val_mse: 106845814784.0000
Epoch 22/25
1170/1170 [==============================] - 3s 3ms/step - loss: 157768138752.0000 - mse: 157768138752.0000 - val_loss: 2813522608128.0000 - val_mse: 2813522608128.0000
Epoch 23/25
1170/1170 [==============================] - 3s 2ms/step - loss: 141746782208.0000 - mse: 141746782208.0000 - val_loss: 5997938176.0000 - val_mse: 5997938176.0000
Epoch 24/25
1170/1170 [==============================] - 2s 2ms/step - loss: 135093641216.0000 - mse: 135093641216.0000 - val_loss: 223283792.0000 - val_mse: 223283792.0000
Epoch 25/25
1170/1170 [==============================] - 3s 2ms/step - loss: 123618934784.0000 - mse: 123618934784.0000 - val_loss: 210225856.0000 - val_mse: 210225856.0000