In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/archive/House Price India.csv')
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
df['Price'].unique()

array([2380000, 1400000, 1200000, ...,  221700,  219200,  146000])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
df['Price']=le.fit_transform(df['Price'])

In [ ]:
df['Price'].unique()

array([2849, 2768, 2748, ...,  284,  277,   60])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
x=df.drop('Built Year',axis=1)
x.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,280,0,122003,52.8645,-114.557,2880,5400,2,58,2849
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1010,0,122004,52.8878,-114.470,2470,4000,2,51,2768
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,0,0,122004,52.8852,-114.468,2940,6600,1,53,2748
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,0,0,122005,52.9532,-114.321,3350,42847,3,76,2487
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,830,0,122006,52.9047,-114.485,2060,4500,1,51,2420

In [ ]:
y=df['Built Year']
y

0        1921
1        1909
2        1939
3        2001
4        1929
         ...
14615    1957
14616    1968
14617    1962
14618    1955
14619    1969
Name: Built Year, Length: 14620, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=12)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
reg=Sequential()
reg.add(Dense(4,activation='relu'))
reg.add(Dense(12,activation='relu'))
reg.add(Dense(32,activation='relu'))
reg.add(Dense(1,activation='linear'))

In [ ]:
reg.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [ ]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(xtest,ytest))

Epoch 1/25
1170/1170 [==============================] - 4s 2ms/step - loss: 2462812093808640.0000 - mse: 2462812093808640.0000 - val_loss: 2970.2703 - val_mse: 2970.2703
Epoch 2/25
1170/1170 [==============================] - 2s 2ms/step - loss: 2371.5386 - mse: 2371.5386 - val_loss: 2077.3079 - val_mse: 2077.3079
Epoch 3/25
1170/1170 [==============================] - 3s 2ms/step - loss: 1967.0878 - mse: 1967.0878 - val_loss: 1959.6931 - val_mse: 1959.6931
Epoch 4/25
1170/1170 [==============================] - 4s 4ms/step - loss: 1965.5968 - mse: 1965.5968 - val_loss: 1967.5789 - val_mse: 1967.5789
Epoch 5/25
1170/1170 [==============================] - 3s 2ms/step - loss: 1938.5320 - mse: 1938.5320 - val_loss: 2007.6071 - val_mse: 2007.6071
Epoch 6/25
1170/1170 [==============================] - 3s 2ms/step - loss: 2144.9060 - mse: 2144.9060 - val_loss: 1660.7573 - val_mse: 1660.7573
Epoch 7/25
1170/1170 [==============================] - 4s 3ms/step - loss: 5813.5088 - mse: 5813.5088 - val_loss: 18589.8828 - val_mse: 18589.8828
Epoch 8/25
1170/1170 [==============================] - 3s 2ms/step - loss: 110822367232.0000 - mse: 110822367232.0000 - val_loss: 111397.4922 - val_mse: 111397.5078
Epoch 9/25
1170/1170 [==============================] - 4s 3ms/step - loss: 365733052416.0000 - mse: 365733052416.0000 - val_loss: 122771996672.0000 - val_mse: 122771996672.0000
Epoch 10/25
1170/1170 [==============================] - 3s 2ms/step - loss: 342962208768.0000 - mse: 342962176000.0000 - val_loss: 721374412800.0000 - val_mse: 721374412800.0000
Epoch 11/25
1170/1170 [==============================] - 2s 2ms/step - loss: 316408659968.0000 - mse: 316408659968.0000 - val_loss: 677246.8750 - val_mse: 677246.8750
Epoch 12/25
1170/1170 [==============================] - 3s 2ms/step - loss: 265899458560.0000 - mse: 265899458560.0000 - val_loss: 4604983.0000 - val_mse: 4604983.0000
Epoch 13/25
1170/1170 [==============================] - 3s 2ms/step - loss: 269023789056.0000 - mse: 269023789056.0000 - val_loss: 110264872.0000 - val_mse: 110264872.0000
Epoch 14/25
1170/1170 [==============================] - 4s 3ms/step - loss: 237760561152.0000 - mse: 237760561152.0000 - val_loss: 5977.5771 - val_mse: 5977.5771
Epoch 15/25
1170/1170 [==============================] - 3s 2ms/step - loss: 103191674880.0000 - mse: 103191666688.0000 - val_loss: 171584.2344 - val_mse: 171584.2344
Epoch 16/25
1170/1170 [==============================] - 2s 2ms/step - loss: 85807259648.0000 - mse: 85807259648.0000 - val_loss: 200866562048.0000 - val_mse: 200866562048.0000
Epoch 17/25
1170/1170 [==============================] - 3s 2ms/step - loss: 30557102080.0000 - mse: 30557100032.0000 - val_loss: 7030.0142 - val_mse: 7030.0142
Epoch 18/25
1170/1170 [==============================] - 3s 2ms/step - loss: 19522689024.0000 - mse: 19522689024.0000 - val_loss: 37097.4219 - val_mse: 37097.4219
Epoch 19/25
1170/1170 [==============================] - 4s 3ms/step - loss: 7479737856.0000 - mse: 7479737856.0000 - val_loss: 3855.3557 - val_mse: 3855.3557
Epoch 20/25
1170/1170 [==============================] - 3s 3ms/step - loss: 2382796544.0000 - mse: 2382796544.0000 - val_loss: 3263270400.0000 - val_mse: 3263270400.0000
Epoch 21/25
1170/1170 [==============================] - 2s 2ms/step - loss: 713219008.0000 - mse: 713219008.0000 - val_loss: 11350827.0000 - val_mse: 11350827.0000
Epoch 22/25
1170/1170 [==============================] - 2s 2ms/step - loss: 181464720.0000 - mse: 181464720.0000 - val_loss: 932.3810 - val_mse: 932.3810
Epoch 23/25
1170/1170 [==============================] - 2s 2ms/step - loss: 72234144.0000 - mse: 72234144.0000 - val_loss: 1116.2196 - val_mse: 1116.2196
Epoch 24/25
1170/1170 [==============================] - 4s 3ms/step - loss: 11999815.0000 - mse: 11999815.0000 - val_loss: 7189.8623 - val_mse: 7189.8623
Epoch 25/25
1170/1170 [==============================] - 2s 2ms/step - loss: 4767562.0000 - mse: 4767562.0000 - val_loss: 89709.2656 - val_mse: 89709.2500